<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - minibooru</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
        <nav>
            <span id="left">
                <a href="/" id="logo">Minibooru</a>
                <a href="/posts">Posts</a>
                <a href="/upload">Upload</a>
            </span>

            <span id="right">
                {% if signed_in %}
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                {% endif %}
            </span>
        </nav>

        <hr>
    </header>

    {% block content %}
    {% endblock %}
  </body>
</html>