<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - minibooru</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
        <nav id="main-nav">
            <span id="left">
                <a href="/" id="logo"></a>
                <a href="/posts">Posts</a>
                <a href="/tags">Tags</a>
                <a href="/pools">Pools</a>
                <a href="/sets">Sets</a>
            </span>

            <span id="right">
                {% if signed_in %}
                    <form action="/auth/logout" method="post">
                      <button type="submit">Log out</button>
                    </form>
                {% else %}
                    <a href="/auth">Account</a>
                {% endif %}
            </span>
        </nav>

        <nav id="child-nav">
          {% block child_nav %}
          {% endblock %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}
  </body>
</html>